html,
body {
  background-color: rgb(0, 0, 0);
  color: #eee;
}

.infoCard {
  max-height: 240px;
  overflow: scroll;
  overflow-x: hidden;
}

/* infoCard scrollbar: Width */
.infoCard::-webkit-scrollbar {
  width: 10px;
}

/* infoCard scrollbar:Track */
.infoCard::-webkit-scrollbar-track {
  background: #eee;
}

/* infoCard scrollbar:Handle */
.infoCard::-webkit-scrollbar-thumb {
  background: #888;
}

/* infoCard scrollbar:Handle on hover */
.infoCard::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.transcriptionArea {
  max-height: 40px;
  overflow: scroll;
  overflow-x: hidden;
}
